<div class="monitor-pie">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Monitor</mat-card-title>

    </mat-card-header>
    <mat-card-content>

      <div class='overflow-auto w-100'>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z0 w-100" matSort>

          <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Machine </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>

          <ng-container matColumnDef="equipment_type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Machine Type </th>
            <td mat-cell *matCellDef="let element"> {{element.equipment_type}} </td>
          </ng-container>

          <ng-container matColumnDef="telemetry_time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Updated </th>
            <td mat-cell *matCellDef="let element"> {{element.telemetry_time | date}} </td>
          </ng-container>

          <ng-container matColumnDef="availabilty_status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Availability </th>
            <td mat-cell *matCellDef="let element">
              <span
                [style.color]="(availabilityColors[element?.availabilty_status?.toUpperCase()]) ? availabilityColors[element?.availabilty_status?.toUpperCase()]?.color : 'black'">
                {{element.availabilty_status}} </span>
            </td>
          </ng-container>

          <!-- Idle (In Hrs) column : idle_time_in_hrs -->
          <ng-container matColumnDef="idle_time_in_hrs">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Idle (in Hrs) </th>
            <td mat-cell *matCellDef="let element"> {{element.idle_time_in_hrs}} </td>
          </ng-container>

          <ng-container matColumnDef="rated_current">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Rated Current </th>
            <td mat-cell *matCellDef="let element"> {{element.rated_current}} </td>
          </ng-container>

          <ng-container matColumnDef="i_rms">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Instant Current </th>
            <td mat-cell *matCellDef="let element"> {{element.i_rms}} </td>
          </ng-container>

          <ng-container matColumnDef="instant_power">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Instant Power (kWh)</th>
            <td mat-cell *matCellDef="let element"> {{element.instant_power}} </td>
          </ng-container>

          <!-- <ng-container matColumnDef="equipment_status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Equipment Status </th>
            <td mat-cell *matCellDef="let element"> {{element.equipment_status}} </td>
          </ng-container> -->

          <ng-container matColumnDef="health_status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Instant Health Status </th>
            <td mat-cell *matCellDef="let element">
              <span
                [style.color]="(healthStatusColors[element?.health_status?.toUpperCase()]) ? healthStatusColors[element?.health_status?.toUpperCase()]?.color : 'black'">
                {{element.health_status}} </span>
            </td>
          </ng-container>

          <!-- Total Warning column: warning_count -->
          <ng-container matColumnDef="warning_count">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Warnings </th>
            <td mat-cell *matCellDef="let element"> {{element.warning_count}} </td>
          </ng-container>

          <ng-container matColumnDef="riskscore">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Instant Riskscore </th>
            <td mat-cell *matCellDef="let element">
              <span [style.color]='(element?.riskscore >= 70) ? riskscoreColors.CRITICAL.color : 
                ((element?.riskscore >= 50) ? riskscoreColors.WARNING.color :
                (element?.riskscore >= 30) ? riskscoreColors.NORMAL.color : "black")'>
                {{element.riskscore}}
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="fault">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Possible Fault </th>
            <td mat-cell *matCellDef="let element"> {{element.fault}} </td>
          </ng-container>

          <ng-container matColumnDef="device_status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Device Status </th>
            <td mat-cell *matCellDef="let element"> {{element.device_status}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      <!-- <table id="customers">
        <tr>
          <th>Company</th>
          <th>Contact</th>
          <th>Country</th>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td>
          <td>Germany</td>
        </tr>
        <tr>
          <td>Berglunds snabbköp</td>
          <td>Christina Berglund</td>
          <td>Sweden</td>
        </tr>
        <tr>
          <td>Centro comercial Moctezuma</td>
          <td>Francisco Chang</td>
          <td>Mexico</td>
        </tr>
        <tr>
          <td>Ernst Handel</td>
          <td>Roland Mendel</td>
          <td>Austria</td>
        </tr>
        <tr>
          <td>Island Trading</td>
          <td>Helen Bennett</td>
          <td>UK</td>
        </tr>
        <tr>
          <td>Königlich Essen</td>
          <td>Philip Cramer</td>
          <td>Germany</td>
        </tr>
        <tr>
          <td>Laughing Bacchus Winecellars</td>
          <td>Yoshi Tannamuri</td>
          <td>Canada</td>
        </tr>
        <tr>
          <td>Magazzini Alimentari Riuniti</td>
          <td>Giovanni Rovelli</td>
          <td>Italy</td>
        </tr>
        <tr>
          <td>North/South</td>
          <td>Simon Crowther</td>
          <td>UK</td>
        </tr>
        <tr>
          <td>Paris spécialités</td>
          <td>Marie Bertrand</td>
          <td>France</td>
        </tr>
      </table> -->

    </mat-card-content>
  </mat-card>
</div>