mat-spinner {
	margin: 0.5rem auto;
}

.lgn-err {
	-webkit-border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
	border-radius: 0.25rem;
}

img.logo {
	height: 60px;
	margin: 16px auto;
}

.login-cntr {
	// height: calc(100vh - 3rem);
	height: 100vh;

	.fig {
		max-height: 100%;
		max-width: 100%;
	}
}

.login-box {
	max-width: 400px;
}

.bg-white {
	background: white;
}