.card {
    box-shadow: none;
    border: 1px solid lightgrey;
}

.data-value {
    font-size: 40px;
    font-weight: 600;
    color: steelblue;

    &.na {
        color: rgba(0, 0, 0, 0.12);
    }
}

.chart {
    height: 400px;
}

mat-form-field {
    width: 100%;
}

.scatter-chart-filter {
    .filter-field {
        width: 120px;
    }
}

@media only screen and (max-width: 600px) {

    .data-value {
        text-align: center;
    }
}