<div>
  <!-- <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">
    <mat-radio-group name='analysisView' [(ngModel)]="analysisView">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
        <mat-radio-button color='primary' value='machineView'>Machine View</mat-radio-button>
        <mat-radio-button color='primary' value='diagnosisView'>Diagnosis View</mat-radio-button>
      </div>
    </mat-radio-group>
  </div> -->
  <div>
    <app-machine-view></app-machine-view>
  </div>
</div>