.nv-cntr {
	.lg-cntr {
		height: 4rem;

		img {
			height: 3rem;
			margin-top: 1rem;
		}
	}

	.nv-content {
		padding: 2rem 1rem;
	}

   .md-cntr {
		height: 3rem;

		img {
			height: 2rem;
			margin-top: 0.5rem;
		}
	}





}
