<div class="w-100">
  <mat-card>
    <mat-card-header>

    </mat-card-header>

    <ng-container *ngIf="machines; else spinner">
      <mat-card-content>
        <form [formGroup]="formGroup">

          <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 w-100">
              <mat-card-title>Select Machine</mat-card-title>
              <div class="row">
                <!-- Normal -->
                <div class="col-lg-3 col-sm-12 col-md-6">
                  <mat-form-field>
                    <mat-select formControlName="normalMachine" placeholder="Select Machine" #selectNormalMachine
                      [compareWith]="compareWith">
                      <mat-option>
                        <ngx-mat-select-search [formControl]="searchNormalMachine" placeholderLabel="Find Machine..."
                          noEntriesFoundLabel="No matching Machine found">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let machine of filteredNormalMachines" [value]="machine">{{machine.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-sm-8 col-md-6">
                  <mat-form-field class='from-to-date-selection'>
                    <input (dateTimeInput)="syncTimestamp($event)" [max]="maxDateTime" [selectMode]="'range'"
                      [owlDateTime]="fromToDate" formControlName="fromToDate" placeholder="Select Date Range" matInput>
                    <mat-icon class="cur-p" [owlDateTimeTrigger]="fromToDate" matSuffix inline>
                      calendar_today
                    </mat-icon>
                    <owl-date-time #fromToDate></owl-date-time>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-24 col-xs-24" *ngIf="f.normalMachine.value">
                  <h3>Selected Normal Machine</h3>
                  <h5>Name:</h5> {{f.normalMachine.value.name}}
                  <h5>Description:</h5> {{f.normalMachine.value.description}}
                </div>
              </div>

            </div>
          </div>
        </form>
      </mat-card-content>

      <mat-card-actions align="end">
        <button (click)="loadData()"
          [disabled]="!(formGroup?.value?.normalMachine && formGroup?.value?.fromToDate?.length > 1)" cdkTrapFocus
          color="primary" mat-raised-button>Load
          Data
        </button>
        <button mat-button (click)="resetForm()">Reset</button>
      </mat-card-actions>
    </ng-container>
    <ng-template #spinner>
      <mat-card-content fxLayoutAlign="center center">
        <mat-spinner diameter="50" strokeWidth="5"></mat-spinner>
      </mat-card-content>
    </ng-template>
  </mat-card>
</div>