<div class="analytic-combo h-100">
  <mat-card>
    <mat-card-header>
      <div fxLayout="row" fxLayout.lt-md='column' fxLayoutAlign="space-between center" fxLayoutGap="16px" fxFlexFill>
        <mat-card-title>Combo Chart</mat-card-title>
        <div fxLayout="row" fxLayout.lt-sm='column' fxLayoutAlign="start center" fxLayoutGap="16px"
          [ngClass.lt-sm]='"w-100"'>
          <mat-form-field [ngClass.lt-sm]='"w-100"'>
            <mat-label>Line</mat-label>
            <mat-select matInput name='line' [(ngModel)]="filters.line" (ngModelChange)='updateChartData()'>
              <mat-option *ngFor='let option of lineChartOptions' [value]='option.value'>{{option.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field [ngClass.lt-sm]='"w-100"'>
            <mat-label>Bar</mat-label>
            <mat-select matInput name='bar' [(ngModel)]="filters.bar" (ngModelChange)='updateChartData()'>
              <mat-option *ngFor='let option of barChartOptions' [value]='option.value'>{{option.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field [ngClass.lt-sm]='"w-100"'>
            <mat-label>Selection Type</mat-label>
            <mat-select matInput name='bar' [(ngModel)]="filters.filterType" (ngModelChange)='onTypeChange()'>
              <mat-option *ngFor='let option of filterTypeOptions' [value]='option.value'>{{option.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-header>

    <mat-card-content>
      <ng-template [ngIf]='data?.length' [ngIfElse]='naRef'>
        <div class="chart">
          <highcharts-chart #chart *ngIf='showChart' [Highcharts]="highcharts" [options]="chartOptions"
            style="width: 100%; height: 100%; display: block;">
          </highcharts-chart>
          <!-- <div id="chartContainer" style="height: 370px; width: 100%;"></div> -->
        </div>
      </ng-template>
      <ng-template #naRef>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
          <span>No data available for applied filter.</span>
        </div>
      </ng-template>

    </mat-card-content>
  </mat-card>
</div>