<div class="tb-cntr">
	<mat-toolbar class="mat-elevation-z1" fxLayoutAlign="start center">
		<button mat-icon-button *ngIf='mobileView' (click)="toggle()">
			<mat-icon>menu</mat-icon>
		</button>
		<div class="md-cntr mr-4" fxLayoutAlign="center center">
			<img alt="minto.ai" class="logo" src="../../../../assets/img/logo.png">
		</div>
		<div class="spacer"></div>
		<div class='mr-5' fxLayout="row" fxLayoutAlign="start center" *ngIf='!mobileView'>
			<div *ngFor="let node of navTree" class="nv-cntr">
				<a [routerLink]="node.path" class="mat-h4 nv-item w-100" [class.active]="activePath === node.path"
					fxLayoutAlign="start center">
					<!-- <mat-icon class="mr-16">{{node.icon}}</mat-icon> -->
					<span>{{node.name}}</span>
					<span *ngIf="!node.path" class="ml-16 col-pr mat-caption">Coming soon</span>
				</a>
			</div>
		</div>
		<div *ngIf="userName" class="mr-16 mat-h4 col-pr">
			<span class="d-none d-sm-inline">Welcome, &nbsp;</span>
			<span><strong>{{userName}}</strong></span>
		</div>
		<!-- <button (click)="logout()" mat-raised-button color='accent'>Logout</button> -->
		<img class='person-avatar' src='../../../../assets/img/person-avatar.png' [matMenuTriggerFor]='profileMenu'>
	</mat-toolbar>
</div>

<mat-menu class='profile-menu' #profileMenu='matMenu'>
	<div class='row px-3'>
		<div class='col-12 mb-16 mt-2 title'>Plants</div>
		<ng-template [ngIf]='plants'>
			<ng-template ngFor let-plant [ngForOf]='plants' let-last='last'>
				<div class='col-12 plant-block' [class.last]='last' [class.selected]='plant?.id === selectedPlant?.id'>
					<div class='plant-name' (click)="onPlantChange(plant)">{{plant.name}}</div>
					<div class='plant-description'>{{plant.description}}</div>
				</div>
			</ng-template>
		</ng-template>
		<mat-divider class='col-12 mt-2'></mat-divider>
		<div class='d-flex flex-row justify-content-center w-100' mat-menu-item (click)="logout()">
			<div>
				<mat-icon>power_settings_new</mat-icon>
				Logout
			</div>
		</div>
	</div>
</mat-menu>