.tb-cntr {
	height: 4rem;
}

.nv-cntr {
	.nv-item {
		// -moz-border-radius: 0.25rem;
		// -webkit-border-radius: 0.25rem;
		// border-radius: 0.25rem;
		cursor: pointer;
		height: 2rem;
		// margin: 0.5rem 0;
		padding: 0 1rem;
		// background: #9F4793;
		// color: white;
		// border-right: 1px solid white;

		&:hover {
			// background-color: rgba(0, 0, 0, 0.1);
			// background: #793770;
			// background: #FF4081; secondary
			// background: #753b6d;
		}

		&.active {
			font-weight: 600;
			// font-weight: bold;
		}
	}
}

img.logo {
	height: 60px;
}

img.person-avatar {
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.title {
	font-size: 20px;
	font-weight: bold;
	/* margin: 3px; */
}

.plant-block {
	padding: 12px 16px;

	.plant-name {
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 4px;
	}

	.plant-description {
		font-size: 14px;
		color: grey;
	}

	&.selected {
		background: #dbf0ff; // #e5f9fb;
	}

	&:not(.last) {
		border-bottom: 1px solid lightgrey;
	}

	&:hover:not(.selected) {
		background: #f7f7f7;
		cursor: pointer;
	}
}