<div class="row monitor-real-cntr" fxFlexFill>
	<div class='col-lg-5 col-md-12'>
		<div class='row'>
			<div class='col-md-6 col-sm-12'>
				<app-monitor-health-status [data]='data'></app-monitor-health-status>
			</div>
			<div class='col-md-6 col-sm-12'>
				<app-monitor-availability-status [data]='data'></app-monitor-availability-status>
			</div>
		</div>
	</div>
	<div class='col-lg-7 col-md-12'>
		<app-monitor-cards [data]='data'></app-monitor-cards>
	</div>

	<div>
		<app-monitor-machine-life-indicator></app-monitor-machine-life-indicator>
	</div>

	<!-- <div class="col-4 mb-24">
		<app-monitor-bar [data]='data'></app-monitor-bar>
	</div> -->

	<div class="col-12 mb-24">
		<app-monitor-table [data]='data'></app-monitor-table>
	</div>

	<div class="col-12 mb-24">
		<app-montior-heat></app-montior-heat>
	</div>
</div>