.data-value {
    font-size: 40px;
    font-weight: 600;
    color: steelblue;

    &.na {
        color: rgba(0, 0, 0, 0.12);
    }
}

.chart {
    height: 10rem;
}


@media only screen and (max-width: 600px) and (min-width: 400px) {
    .chart {
        height: 15rem;
        overflow: hidden;
    }
}