.data-value {
    font-size: 40px;
    font-weight: 600;
    color: steelblue;

    &.na {
        color: rgba(0, 0, 0, 0.12);
    }
}

.chart {
    height: 10rem;
}


@media only screen and (max-width: 600px) {
    .chart {
        height: 15rem;
        overflow: hidden;
    }

    .data-value {
        text-align: center;
    }
}

.analysis-card {
    color: white;
    border: 1px solid darkgrey;
    border: 1px solid lightgrey;

    .card-title {
        white-space: nowrap;
        font-size: 14px;
    }

    .card-value {
        font-size: 78px;
        font-weight: bold;
    }

    .arrow-block {
        padding-left: 24px;

        .value {
            font-size: 14px;
        }
    }
}