<div class="row">
  <div class="col-12 mb-24">
    <app-select-machine-block (config)="onConfig($event)" [machines]="machines"></app-select-machine-block>
  </div>
  <!-- <div class='col-6'></div> -->
  <div class='col-12'>
    <div class='row' *ngIf='aggregatedData'>
      <div class='col-3 mb-24'>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Rated</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class='data-value'>
              {{aggregatedData?.rated_current ? (aggregatedData?.rated_current | number: '.0-4') : "NA"}}</div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class='col-3 mb-24'>
        <mat-card>
          <mat-card-header>
            <mat-card-title>I-RMS</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class='data-value'>{{aggregatedData?.avg_i_rms | number: '.0-4'}}</div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class='col-3 mb-24'>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Risk Score</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class='data-value'>{{aggregatedData?.avg_riskscore | number: '.0-4'}}</div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class='col-3 mb-24'>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Overloads</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class='data-value'>{{aggregatedData?.overloads | number: '.0-4'}}</div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class='col-3' *ngIf='aggregatedData'>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Pie Chart</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="chart">
          <app-pie-chart #pieChart [data]='data' [animationEnabled]='false' height="160" width="240">
          </app-pie-chart>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class='col-9' *ngIf='aggregatedData'>
    <app-analytics-combo-chart [data]='comboChartData' (typeChange)='onTypeChange($event)'></app-analytics-combo-chart>
  </div>
</div>