<div class="row">
  <div class="col-12 mb-24">
    <app-select-machine-block (config)="onConfig($event)" [machines]="machines"></app-select-machine-block>
  </div>
  <!-- <div class='col-6'></div> -->
  <ng-template [ngIf]='!loading' [ngIfElse]='spinner'>
    <div class='col-12'>
      <div class='row' *ngIf='aggregatedData'>
        <div class='col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-24'>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Rated</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class='data-value'
                *ngIf='(aggregatedData?.rated_current !== null && aggregatedData?.rated_current !== undefined); else naRef'>
                {{aggregatedData?.rated_current | number: '.0-4'}}</div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class='col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-24'>
          <mat-card>
            <mat-card-header>
              <mat-card-title>I-RMS</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class='data-value'
                *ngIf='(aggregatedData?.avg_i_rms !== null && aggregatedData?.avg_i_rms !== undefined); else naRef'>
                {{aggregatedData?.avg_i_rms | number: '.0-4'}}</div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class='col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-24'>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Risk Score</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class='data-value'
                *ngIf='(aggregatedData?.avg_riskscore !== null && aggregatedData?.avg_riskscore !== undefined); else naRef'>
                {{aggregatedData?.avg_riskscore | number: '.0-4'}}</div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class='col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-24'>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Overloads</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class='data-value'
                *ngIf='(aggregatedData?.overloads !== null && aggregatedData?.overloads !== undefined); else naRef'>
                {{aggregatedData?.overloads | number: '.0-4'}}</div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <ng-template #naRef>
      <div class='data-value na'>NA</div>
    </ng-template>
    <div class='col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-24' *ngIf='aggregatedData'>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Pie Chart</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="chart" *ngIf='showPieChart; else naRef'>
            <app-pie-chart #pieChart [data]='data' [animationEnabled]='false' height="160" width="240">
            </app-pie-chart>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class='col-lg-9 col-md-12 col-sm-12 col-xs-12 mb-24' *ngIf='comboChartData'>
      <app-analytics-combo-chart [data]='comboChartData' (typeChange)='onTypeChange($event)'>
      </app-analytics-combo-chart>
    </div>
  </ng-template>
  <ng-template #spinner>
    <div class='col-12 mb-24'>
      <mat-card>
        <mat-card-content fxLayoutAlign="center center">
          <mat-spinner diameter="50" strokeWidth="5"></mat-spinner>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-template>
</div>