.monitor-card {
    // border: 1px solid black;
    color: white;
    // border: 1px solid darkgrey;
    border: 1px solid lightgrey;

    .card-title {
        white-space: nowrap;
        font-size: 14px;
    }

    .card-value {
        /* display: flex; */
        /* justify-content: center; */
        /* align-self: center; */
        font-size: 78px;
        font-weight: bold;
        // line-height: 96px;
    }

    .arrow-block {
        padding-left: 24px;

        .value {
            font-size: 24px;
        }

        .arrow {
            font-size: 60px;
            height: 60px;
            line-height: 60px;
            width: 60px;

            &.up {
                color: green;
            }

            &.down {
                color: red;
            }
        }
    }
}